<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.flyfish.learnsphere.mapper.CourseMapper">

    <insert id="addCourse" parameterType="com.flyfish.learnsphere.model.entity.Course" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO course(title, description, upload_user_id, cover_url, category, tags, content_md, video_url, video_duration, status, create_time, update_time, is_deleted)
        VALUES (#{title}, #{description}, #{uploadUserId}, #{coverUrl}, #{category}, #{tags}, #{contentMd}, #{videoUrl}, #{videoDuration}, #{status}, #{createTime}, #{updateTime}, #{isDeleted})
    </insert>


    <select id="getCourseById" resultType="com.flyfish.learnsphere.model.entity.Course">
        SELECT * FROM course WHERE id = #{courseId}
    </select>

    <update id="updateCourse" parameterType="com.flyfish.learnsphere.model.entity.Course">
        UPDATE course
        <set>
            <if test="title != null">
                title = #{title},
            </if>
            <if test="description != null">
                description = #{description},
            </if>
            <if test="uploadUserId != null">
                upload_user_id = #{uploadUserId},
            </if>
            <if test="coverUrl != null">
                cover_url = #{coverUrl},
            </if>
            <if test="category != null">
                category = #{category},
            </if>
            <if test="tags != null">
                tags = #{tags},
            </if>
            <if test="contentMd != null">
                content_md = #{contentMd},
            </if>
            <if test="videoUrl != null">
                video_url = #{videoUrl},
            </if>
            <if test="videoDuration != null">
                video_duration = #{videoDuration},
            </if>
            <if test="status != null">
                status = #{status},
            </if>


            <if test="isDeleted != null">
                is_deleted = #{isDeleted},
            </if>
            update_time = NOW()
        </set>
        WHERE id = #{id}
        AND is_deleted = 0
    </update>

    <select id="listCourses" resultType="com.flyfish.learnsphere.model.entity.Course">
        SELECT * FROM course
        WHERE is_deleted = 0
        <if test="keyword != null and keyword != ''">
            AND (title LIKE CONCAT('%', #{keyword}, '%') OR description LIKE CONCAT('%', #{keyword}, '%'))
        </if>
        <if test="category != null and category != ''">
            AND category = #{category}
        </if>
        <if test="tag != null and tag != ''">
            AND tags LIKE CONCAT('%', #{tag}, '%')
        </if>
        ORDER BY update_time DESC
    </select>

    <update id="deleteCourse">
        UPDATE course SET is_deleted = 1, update_time = NOW()
        WHERE id = #{courseId}
    </update>

    <select id="listByIds" resultType="com.flyfish.learnsphere.model.entity.Course">
        SELECT * FROM course
        WHERE is_deleted = 0
        AND id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        ORDER BY update_time DESC
    </select>
</mapper>